*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #1C2E3D;
    font-size: 16px;
}

.principal{
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}

/* -------------------------------- */
/* ------------ Header ------------ */
/* -------------------------------- */

header {
    width: 100%;
    height: 80px;
    margin: 20px 0;
    padding: 10px 14px;
    border-radius: .5rem;
    background: #72BEFC;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .titulo_proyecto {
    display: flex;
    align-items: center;
}

header .logo {
    width: 60px;
    border-radius: 50%;
}

header .titulo {
    margin-left: 14px;
    font-size: 2.5rem;
    color: #1C2E3D;
    text-decoration: none;
    font-weight: bold;
}

.info_user {
    text-align: right;
}

.info_user .username {
    font-weight: bold;
    font-size: 1.5rem;
}

.info_user .role {
    font-size: 1rem;
}

/* -------------------------------- */
/* ------------- Menú ------------- */
/* -------------------------------- */

.nav {
    width: 100%;
    margin: 20px 0;
    padding: 10px 14px;
    border-radius: .5rem;
    background: #72BEFC;
}

.nav .menu {
    list-style: none;
}

.nav .menu > li {
    display: inline-block;
    position: relative;
}

.nav .menu > li > a {
    margin: 0 8px;
    padding: 8px 22px;
    display: inline-block;
    text-decoration: none;
    color: #000;
    border-radius: 6px;
    font-weight: bold;
    font-size: 1rem;
    transition: .3s all ease;
}

.nav .menu > li > a:hover {
    background: #ffb753;
}

.nav .menu > li > a.active {
    background: #7de052;
}

.nav .submenu {
    display: none;
    margin-left: 8px;
    width: 100%;
    position: absolute;
    list-style: none;
    background: #e072fc;
    border-radius: .5rem;
	box-shadow: 0px 3px 6px 0px #000000b3;
}

.menu .submenu li {
    display: block;
    position: relative;
}

.menu .submenu li.titulo-list {
    display: block;
    padding: 8px 22px;
    background: #ffb753;
    font-size: 1rem;
    border-radius: .5rem .5rem 0 0;
}

.menu .submenu > li > a {
    display: block;
    padding: 8px 22px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    transition: .3s all ease;
}

.menu .submenu > li:first-child > a {
    border-radius: .5rem .5rem 0 0;
}

.menu .submenu > li:last-child > a {
    border-radius: 0 0 .5rem .5rem;
}

.nav .submenu > li > a:hover {
    background: #ffb753;
}

.nav .menu > li:hover .submenu {
    display: block;
}

.nav .submenu > li .submenu {
    display: none !important;
    margin: 0;
    margin-left: calc(100%);
    top: 0;
}

.submenu li > a.active {
    background: #7de052 !important;
}

.submenu > li:hover > .submenu {
    display: block !important;
}

/* -------------------------------- */
/* ---------- Contenedor ---------- */
/* -------------------------------- */

.contenedor {
    padding: 14px;
    width: calc(80% - 20px);
    height: calc(100vh - 280px);
    float: left;
    background: #fff;
    border-radius: .5rem;
}

.contenedor-tabla {
    margin-top: 20px;
    overflow-y: scroll;
    height: 80%;
}

.titulo-table {
    padding: 10px 0;
    background: #e072fc;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: .5rem;
}

.tabla {
    width: 100%;
    height: 80%;
    text-align: center;
    overflow-y: scroll;
}

.tabla tr {
    display: flex;
    align-content: space-between;
    align-items: center;
}

.tabla td,
.tabla th {
    width: 100%;
    padding: 10px 0;
}

.tabla .head {
    background: #72BEFC;
    border-radius: .5rem .5rem 0 0;
}

.tabla .body tr {
    border-bottom: 1px solid #000;
}

.tabla .body tr:last-child {
    border-bottom: 3px solid #72BEFC;
}

.contenedor article iframe {
    display: block;
    margin: auto;
    margin-top: 20px !important;
}

.contenedor-actividad {
    height: 80%;
    margin-top: 20px;
    padding:  0 10px;
    text-align: justify;
    overflow-y: scroll;
}

/* --------------------------------- */
/* ----------- Formulario ---------- */
/* --------------------------------- */

.formulario-usuario {
    width: 100%;
    margin: 20px 0;
}

.formulario-usuario .form-row {
    width: 100%;
    display: flex;
    align-content: space-between;
}

.formulario-usuario .form-group {
    width: 100%;
    margin: 0 20px;
    display: flex;
    align-items: center;
    align-content: space-between;
}

.formulario-usuario .form-group label{
    width: 60%;
}

.formulario-usuario .form-group input,
.formulario-usuario .form-group select,
.formulario-usuario .form-group textarea{
    width: 100%;
    margin: 6px 0;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    background: none;
    border: 3px solid rgba(0, 0, 0, 0.3);
    font-size: 1rem;
    outline: none;
    transition: all .3s ease;
}

.formulario-usuario .group-textarea textarea {
    width: 100%;
    height: 80px;
}

.formulario-usuario .group-textarea label {
    width: 21%;
}

.formulario-usuario .form-group input:focus{
    border: 3px solid #0060f0;
}

.botones-formulario-usuario {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.botones-formulario-usuario button {
    width: calc(25% + 4%);
    margin-right: 20px;
    padding: 10px 0;
    background: #7de052;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

/* --------------------------------- */
/* ------------ Sidebar ------------ */
/* --------------------------------- */

.aside {
    position: relative;
    margin-bottom: 20px;
    padding: 14px;
    width: 20%;
    height: calc(100vh - 220px);
    float: right;
    background: #72BEFC;
    border-radius: .5rem;
}

.aside .titulo-form {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}

.formulario .form-group {
    margin: 12px 0;
}

.formulario .form-group label {
    font-weight: bold;
}

.formulario .form-group input,
.formulario .form-group select {
    width: 100%;
    margin: 6px 0;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
}

.formulario .btn-form {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 10px;
    background: #7de052;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.formulario .btn-secondary {
    background: #e072fc;
}

.formulario .btn-third {
    background: #ffb753;
}

.formulario .btn-forth {
    background: #ff5353;
}

@media screen and (max-height: 850px){
    .aside {
        overflow-y: scroll;
        padding: 14px 18px;
    }

    .fecha {
        margin-top: 8px;
    }
}

@media screen and (min-height: 850px){
    .fecha {
        position: absolute;
        bottom: 10px;
    }
}

/* -------------------------------- */
/* ------------ Footer ------------ */
/* -------------------------------- */

.footer {
    margin-top: 20px;
    padding: 0 14px;
    width: calc(80% - 20px);
    height: 40px;
    float: left;
    background: #000;
    color: #fff;
    border-radius: .5rem;
    line-height: 40px;
}